<!-- Getting Started Steps Component -->
<div class="numbered-list-container">
    <ol class="numbered-list">
        <li class="numbered-list-item">
            <span class="numbered-list-item-text">
                <span class="numbered-list-item-highlight">Create an account</span> to track your progress and save your favorite concepts
            </span>
        </li>
        <li class="numbered-list-item">
            <span class="numbered-list-item-text">
                <span class="numbered-list-item-highlight">Explore the concept map</span> on the homepage to get an overview of LLM fine-tuning concepts
            </span>
        </li>
        <li class="numbered-list-item">
            <span class="numbered-list-item-text">
                <span class="numbered-list-item-highlight">Visit the Learning Center</span> to start with foundational concepts
            </span>
        </li>
        <li class="numbered-list-item">
            <span class="numbered-list-item-text">
                <span class="numbered-list-item-highlight">Try the tutorials</span> to get hands-on experience with code examples
            </span>
        </li>
        <li class="numbered-list-item">
            <span class="numbered-list-item-text">
                <span class="numbered-list-item-highlight">Test your knowledge</span> with quizzes after completing each section
            </span>
        </li>
    </ol>
</div>
